{% extends 'base.html' %}
{% block title %}Look-up MET API{% endblock%}
{% block body_class %}Home{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <form action="/searched">
        <input class="form-control mr-lg-7" type="text" placeholder="Search"  name="image" id="search_id">
          <button class="btn btn-outline-grey my-2 my-lg-0" type="submit">Search</button>
     </form>


   {% set img_url = "https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" %} 

   {% set met_url = "https://www.metmuseum.org/art/collection/search/" %}
 
  {% set NA = "Not Listed" %}

  {% for  objectID in img_ids%}
    <img src="{{img_url}}" id="{{objectID}}" class="img-thumbnail" class="card-image">

    <!-- <form method="POST" action="/inspiration/{{objectID}}/add" class="messages-like">
      <button class="
        btn 
        btn-sm 
        {{'btn-primary' if objectID in inspirations else 'btn-secondary'}}"
      >
        <i class="fa fa-palette"></i> 
      </button>
    </form> -->
    <h4>Artist Name:</h4>
    <a href="{{met_url}}{{objectID}}" class="artist-wiki">
    <h4 class="artist-name" id="{{objectID}}">{{NA}}</h4></a>

    <h5>Art Title: </h5>
    <a href="{{met_url}}{{objectID}}" class="title-wiki">
    <h5 class="artist-title" id="{{objectID}}"></h5></a>

    
  {%endfor%}

  


<div id="img">
  </div>

  <!-- {% for  objectID in img_ids%}
  <img src="{{img_url}}" id="" class="img-thumbnail" class="card-image">

  <!-- <form method="POST" action="/inspiration/{{objectID}}/add" class="messages-like">
    <button class="
      btn 
      btn-sm 
      {{'btn-primary' if objectID in inspirations else 'btn-secondary'}}"
    >
      <i class="fa fa-palette"></i> 
    </button>
  </form> -->
  <!-- <h4>Artist Name:</h4>
  <a href="{{met_url}}" class="SMartist-wiki">
  <h4 class="SMartist-name" id="">{{NA}}</h4></a>

  <h5>Art Title: </h5>
  <a href="{{met_url}}" class="SMtitle-wiki">
  <h5 class="SMartist-title" id=""></h5></a> -->

  
<!-- {%endfor%} -->

  <form >
    <input class="btn btn-outline-grey my-2 my-lg-0"  type="button"id="showMore" value="Load More!">
</form>


</div>
</div>

{% endblock %}