{% extends 'base.html' %}
{% block title %}Look-up MET API{% endblock%}
{% block body_class %}Home{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <form action="/searched" >
        <input class="form-control mr-lg-7" type="text" placeholder="Search"  name="image">
        <button class="btn btn-outline-grey my-2 my-lg-0" type="submit">Search</button>
     </form>



  {% set img_url = "https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" %}

  {% for  img in img_ids%}
    <img src="{{img_url}}" id="{{img}}" class="img-thumbnail" class="card-image">
    <p id="{{img}}"></p>
    <!-- <i></i> -->
  {%endfor%}
  


<div id="img">
  </div>

<form >
    <button class="btn btn-outline-grey my-2 my-lg-0" class="show-more">Show more</button>
</form>


</div>
</div>

{% endblock %}