{% extends 'base.html' %}
{% block title %}Art saved by  {{g.user.username}}{% endblock%}
{% block content %}

{% set img_url = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/330px-No-Image-Placeholder.svg.png" %}

  {% set google_url = "https://www.google.com/" %}
  {% set NA = "Not Listed" %}

{%for inspiration in inspirations%}
 <img src="{{img_url}}" id="{{inspiration}}" class="img-thumbnail" class="card-image">

    <form method="POST" action="/arts/{{inspiration}}/like" class="messages-like">
      <button class="
        btn 
        btn-sm 
        {{'btn-primary' if inspiration in inspiration else 'btn-secondary'}}"
      >
        <i class="fa fa-palette"></i> 
      </button>
    </form>
    <h4>Artist Name:</h4>
    <a href="{{google_url}}" class="artist-wiki">
    <h4 class="artist-name" id="{{objectID}}">{{NA}}</h4></a>

    <h5>Art Title: </h5>
    <a href="{{google_url}}" class="title-wiki">
    <h5 class="artist-title" id="{{objectID}}"></h5></a>
     
  </div>
{%endfor%}
{% endif %}
</div>