{% extends 'base.html' %}
{% block title %}THE MET API- UserProfile{% endblock%}
{% block content %}
<div class="row">

    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
      <div class="card user-card">
        <div>
          <a href="/users/{{ g.user.id }}" class="card-link">
            <img src="{{ g.user.avatar }}"
                 alt="Image for {{ g.user.username }}"
                 class="card-image">
            <p>{{ g.user.username }}</p>
          </a>
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Posts</p>
              <h4>
                <a href="/users/{{ g.user.id }}">{{ g.user.post | length }}</a>
              </h4>
            </li>

            <li >
              <p class="small"><ins>Bio:</ins></p>
              <p class="small">{{g.user.bio }}</p>
            </li>
            <li >
              <p class="small"><ins>Social Media:</ins></p>
              <p class="small">@{{g.user.social_media }}</p>
            </li>
          </ul>
          
        </div>
      </div>
    </aside>
    </div>
    <div class="row justify-content-md-center">
  

      {%for p in post%}
        <div class="message-area">
          <div class="message-heading">
            <!-- <a href="/users/{{p.user_id }}">@{{p.user.username }}</a> -->
            <div class="col-md-7 col-lg-5">
             
              <img src="{{p.imageURL}}"  class="img-thumbnail" alt="">  
            </div>
            {% if g.user %}
                <form method="POST"
                      action="/posts/{{ post.id }}/Edit">
                  <button class="btn btn-outline-info">Edit</button>
                </form>
                <form method="POST"
                      action="/posts/{{ post.id }}/delete">
                  <button class="btn btn-outline-danger">Delete</button>
                </form>
            {% endif %}
          </div>
          <p class="single-message">{{ post.title }}</p>
          <p class="single-message">{{ post.description }}</p>
          <span class="text-muted">{{ p.created_at.strftime('%d %B %Y') }}</span>
        </div>
        {%endfor%}

      </div>
 
{% endblock %}