{% extends 'base.html' %}
{% block title %}THE MET API- UserProfile{% endblock%}
{% block content %}
<div class="row">

    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
      <div class="card user-card">
        <div>
          <a href="/users/{{ g.user.id }}" class="card-link">
            <img src="{{ g.user.avatar }}"
                 alt="Image for {{ g.user.username }}"
                 class="card-image">
            <p>{{ g.user.username }}</p>
          </a>
          <a href="/users/profile">
          <i class='fa fa-edit' style='font-size:24px;color:red'></i></a>
          <form method="POST" action="/users/{{g.user.id}}/delete" class="form-inline">
            <button class="btn btn-outline-danger btn-sm ml-2">Delete Profile</button>
          </form>
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Posts</p>
              <h3>
                <a href="/users/{{ g.user.id }}">{{ g.user.posts | length }}</a>
              </h3>
            </li>
           

            <li >
              <p class="small"><ins>Bio:</ins></p>
              <p class="small">{{g.user.bio }}</p>
            </li>
            <li >
              <p class="small"><ins>Social Media:</ins></p>
              <p class="small">@{{g.user.social_media }}</p>
            </li>
          </ul>
          
        </div>
      </div>
    </aside>
    </div>
    <div class="row justify-content-md-center">
      <div>
        <a class="nav-link disabled" href="/post/new">Add Post</a>
      </div>
  

      {%for p in post%}
        <div class="message-area">
          <div class="message-heading">
            <!-- <a href="/users/{{p.user_id }}">@{{p.user.username }}</a> -->
            <div class="col-md-7 col-lg-5">
              <img src="{{p.imageURL}}"  class="img-thumbnail" alt="">  
            </div>
            {% if g.user %}
            <form>
              <button class="btn 
              btn-sm btn-primary w-90" formaction="/post/{{p.id}}/edit" formmethod="get">Edit</button>
              <button class="btn 
              btn-sm btn-outline-danger w-90" formaction="/post/{{p.id}}/delete" formmethod="post">Delete</button>
          </form>
            {% endif %}
          </div>
          <p class="single-message">Title: {{ p.title }}</p>
          <p class="single-message">Description: {{ p.description }}</p>
          <span class="text-muted">{{ p.created_at.strftime('%d %B %Y') }}</span>
        </div>
        {%endfor%}


 
{% endblock %}